html, body, #root, .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.markdown ul, ol > li {
    margin-left: 25px !important;
    list-style: revert !important;
}

html.has-navbar-fixed-top {
    padding-top: 0 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.nav-bar {
    display: flex;
}

.page {
    display: flex;
    margin-top: 3.25rem;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 5rem;
    padding-right: 5rem;
}

.container {
    width: 100vw!important;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
